[mysqld]
datadir = /var/lib/mysql
port = 3306
socket = /var/run/mysqld/mysqld.sock

# Recommended MariaDB settings
key_buffer_size = 16M
max_allowed_packet = 8M
thread_stack = 192K
thread_cache_size = 8

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# Required for InnoDB tables
innodb_buffer_pool_size = 16M
innodb_log_file_size = 5M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

[mysqld_safe]
log_error = /var/log/mariadb/mariadb.log
pid-file = /var/run/mysqld/mysqld.pid
